# PRÁCTICA 1: Python, Ejericio 3 - Julia Hernández Elena

In [1]:
import pandas as pd
import numpy as np
from scipy import optimize

### Leer el archivo datos_curvas_roi.csv con la información del estudio econométrico:

In [2]:
curvas = pd.read_csv("datos_curvas_roi.csv",sep=",",header = 0)

In [3]:
curvas

        MEDIO         A             B           MIN           MAX  decay
0  Televisión  7.091115  270163.85990  183359.57680  421967.23580   0.40
1      Online  6.571585   62164.76381   38488.03122  110009.09710   0.20
2      Prensa  6.779517  105752.53950   71820.20725  165047.65840   0.20
3       Radio  6.182705   64579.77595   43419.72799  102131.35590   0.15
4    Exterior  4.168857   26693.37017   20854.44233   34971.98656   0.30

### Queremos hacer un estudio para una nueva campaña de 10 semanas:

Creamos la matriz de inversion para 10 semanas tomando los valores MIN de inversion por semana (como en el enunciado):

In [4]:
inversion  = curvas.MIN.values #extraemos los valores

In [5]:
inv_10semanas = np.tile(inversion,10).reshape([10,5]) #creamos una matriz con los valores repetidos 10 veces

In [6]:
mx_inversion = pd.DataFrame(inv_10semanas, columns=curvas.MEDIO.values) #Matriz de inversion

In [7]:
mx_inversion

    Televisión       Online       Prensa        Radio     Exterior
0  183359.5768  38488.03122  71820.20725  43419.72799  20854.44233
1  183359.5768  38488.03122  71820.20725  43419.72799  20854.44233
2  183359.5768  38488.03122  71820.20725  43419.72799  20854.44233
3  183359.5768  38488.03122  71820.20725  43419.72799  20854.44233
4  183359.5768  38488.03122  71820.20725  43419.72799  20854.44233
5  183359.5768  38488.03122  71820.20725  43419.72799  20854.44233
6  183359.5768  38488.03122  71820.20725  43419.72799  20854.44233
7  183359.5768  38488.03122  71820.20725  43419.72799  20854.44233
8  183359.5768  38488.03122  71820.20725  43419.72799  20854.44233
9  183359.5768  38488.03122  71820.20725  43419.72799  20854.44233

Aplicando el efecto adstock con sus respectivos decaimientos a esta matriz conseguimos:

In [8]:
for i in range (1, len(mx_inversion)):
    mx_inversion[i:i+1] = mx_inversion[i-1:i].to_numpy()*curvas.decay.values +  mx_inversion[0:1].to_numpy()

In [9]:
mx_inversion

      Televisión        Online        Prensa         Radio      Exterior
0  183359.576800  38488.031220  71820.207250  43419.727990  20854.442330
1  256703.407520  46185.637464  86184.248700  49932.687189  27110.775029
2  286040.939808  47725.158713  89057.056990  50909.631068  28987.674839
3  297775.952723  48033.062963  89631.618648  51056.172650  29550.744782
4  302469.957889  48094.643813  89746.530980  51078.153888  29719.665764
5  304347.559956  48106.959983  89769.513446  51081.451073  29770.342059
6  305098.600782  48109.423217  89774.109939  51081.945651  29785.544948
7  305399.017113  48109.915863  89775.029238  51082.019838  29790.105814
8  305519.183645  48110.014393  89775.213098  51082.030966  29791.474074
9  305567.250258  48110.034099  89775.249870  51082.032635  29791.884552

- #### Crear una función aportes_totales(x) que tenga como argumento de entrada un vector de numpy con la inversión de todos los medios en las 10 semanas y que devuelva el aporte total de toda la inversión usando el efecto adstock y las curvas de aporte:

In [10]:
def aportes_totales(x): #x será en vector numpy con los valores de la primera tabla (la matiz de inversión)
    
    #Calculamos el efecto adstock con sus decaimientos para el vector de entrada:
    for i in range (1, len(x)):
        x[i] = x[i-1]*curvas.decay.values + x[0]
    
    #Creamos la lista f(x) que tendra los valores de aporte para todos los medios cada semana:
    f_x=[]
    for values in x:
        exponente = curvas.A.values - (curvas.B.values)/values 
        f_x.append(np.exp(exponente).sum())
    
    #Sumamos los valores de aporte de cada semana para conseguir los aportes totales:
    return sum(f_x)

Probamos la función con un vector numpy con la inversion de todos los medios para cuatro semanas como el enunciado para comprobar que nuestra función funciona:

In [11]:
inversion  = curvas.MIN.values #extraemos los valores
inv_4semanas = np.tile(inversion,4).reshape([4,5]) #creamos una matriz con los valores repetidos 4 veces
mx_inv_4s = pd.DataFrame(inv_4semanas, columns=curvas.MEDIO.values) #Matriz de inversion de 4 semanas

In [12]:
aportes_totales(mx_inv_4s.to_numpy())

3972.2482708606044

La función calcula el aporte total correctamente.

#### Calculamos el aporte total para 10 semanas:

In [13]:
inversion  = curvas.MIN.values #extraemos los valores
inv_10semanas = np.tile(inversion,10).reshape([10,5]) #creamos una matriz con los valores repetidos 10 veces
mx_inv_10s = pd.DataFrame(inv_10semanas, columns=curvas.MEDIO.values) #Matriz de inversion de 10 semanas

In [14]:
aportes_totales(mx_inv_10s.to_numpy())

10723.620391631035